
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f3f3f3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  width: 300px;
}

.display {
  background-color: #e9e9e9;
  color: #4893e9;
  font-size: 2.5rem;
  text-align: right;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  min-height: 50px;
  box-sizing: border-box;
}


.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

button {
  font-size: 1.5rem;
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  background-color: #a7d0ff;
  color: white;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #555;
}

button:active {
  background-color: #777;
}

button:nth-child(17) {
  grid-column: span 3;
  background-color: #0056b3;
}


@media (max-width: 600px) {
  .display {
    font-size: 1.5em;
  }

  button {
    font-size: 1.2em;
    padding: 15px;
  }
}